.layout-container {
    display: flex;
    flex-direction: row;
    position: relative;
}
aside.aside-section {
    width: 23%;
    min-width: 13.75rem;
    color: #000;
    font-size: 0.875rem;
    font-family: "goldplay-regular";
}

.pagination-control {
    width: 100%;
}